body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin : 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3.5rem;
}

.choices {
    margin-bottom: 30px;
}

.choices button{
    font-size: 7rem;
    width: 150px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: hsl(160, 100%, 45%);
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.choices button:hover {
    background-color: hsl(160, 100%, 95%);
}

#playerDisplay, #computerDisplay {
    font-size: 2.5rem;
  
}

#resultDisplay{
    font-size: 5rem;
    margin: 30px;
}

.greenText,#playerScore {
    color: green;
}

.redText ,#computerScore {
    color: red;
}
.blueText {
    color: blue;
}

#resetButton {
margin: 20px;
padding: 10px 5px;
background-color: hsla(350, 84%, 42%, 0.793);
color: white;
font-size:1.5rem;
border: none;
font-style: italic;
font-weight: bold;
}
